@{
    Layout = "_Layout";
}

@model Pizza

<div class="container mt-5">
    <form asp-controller="Pizza" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="Nome" class="form-label">Nome</label>
            <input asp-for="Nome" type="text" class="form-control" id="Name">
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Descrizione" class="form-label">Descrizione</label>
            <input asp-for="Descrizione" type="text" class="form-control" id="Descrizione">
            <span asp-validation-for="Descrizione" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Prezzo" class="form-label">Prezzo</label>
            <input asp-for="Prezzo" type="text" class="form-control" id="Prezzo">
            <span asp-validation-for="Prezzo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Foto" class="form-label">Foto</label>
            <input asp-for="Foto" type="text" class="form-control" id="Foto">
            <span asp-validation-for="Foto" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>